<header class="Header">	
	<h1 class="Header-title">
		<a href="/">{{@blog.title}}</a>
	</h1>
	<div class="Header-icon-menu">
		<label for="menu">		
			<span>MENU</span>
		</label>
		<input type="checkbox" class="check" id="menu">
		<div class="Header-menu-mobil">
		    <ul class="Header-menu-mobil-nav">
				{{navigation}}
		    </ul>
		    <label for="menu">		
		    	<span>x</span>
		    </label>
		    
		</div>
	</div>
</header>
{{subscribe_form
	form_class="gh-signin"
	placeholder="Your email address"
	input_class="gh-input"
	button_class="btn btn-blue btn-block"
}}


