.header
	background: black
	color white
	display flex
	justify-content space-between
	align-items: center

	font-family helvetica
	

	// &-title-description
	// 	font-family helvetica
	// 	display flex
	// 	justify-content space-between
	&-title
		margin-left .5rem
	// .check
	// 	display none
	.check:checked~.menu 
		top: 22px
		transition: .5s
			

	// &-description
	// 	align-self flex-end
	// 	margin-left 1rem
	// 	margin-bottom .5rem

		
	