.Index-main
	width 80%
	margin 0 auto
	main
		z-index: -1
	.post
		h2
			margin-bottom .3rem
			a 
				text-decoration none
				color black
		&-date
			color #cc0000
		footer
			padding-top 1rem
			color #cc0000

	.read-more
		background #f2f2f2
		margin-left .5rem
		text-decoration none
		color black
		&:hover 
			margin-left .6rem