.Post
	ul 
		margin-left -1.5rem
	p
		line-height: 1.4
	.hidden-excerpt	
		display none
	article 
		width: 90%
		margin 0 auto		
	&-top 
		width: 100%	
		display: flex 
		justify-content: space-between
		margin-bottom .1rem
		font-size: .8rem
		a 
			&:hover
				color #551a8b
	&-tags
		em 
			background-color #f2f2f2
			margin-right .5rem
		a 
			text-decoration: none
			color #551a8b
		a:hover
			text-decoration: underline
	.post-content 
		position: relative
		
		a 
			text-decoration: underline
			
			
		p 
			em
				a
				
					text-decoration: none
					display block
					text-align: right
					// right .2rem
					// top .2rem
					color #cc0044
					// background-color #ffb3b3
					// padding-right .2rem
					&:hover
						text-decoration: underline
			.link-to-index-git 
				font-size: 85%
				a 
					color #0086b3
					// text-decoration: none
					// display block
					// text-align: right
					
		&-button
			display block
			padding: .2rem
			color black
			background-color white
			// margin-bottom 1.5rem
			width 100%
			// margin 0 auto
			border 1px solid black
			&:hover
				border 1px solid green
				color green
				// background-color #e6ffee

				
		&_button-console
		&_button-console2
		&_button-console3
			text-align center
			padding: .2rem
			color black
			// background-color #003366
			border 1px solid black
			width 100%
			background-color white

			&:hover
				// background-color #00264d
				color blue
				border 1px solid blue

			// iframe
			// 	max-height: 600px !important
			
		&_console
		&_console2
		&_console3
			width: 100%			
			text-align: center
			display none
			// overflow: scroll		
			max-height: 300px
			border-bottom: 1px solid grey
			position: relative
			transition 1s
			&_console600px
				max-height: 600px				 
			&-mark 
				background #ffff99
		&_console2
			max-height: 300px
		&_buttonx-console
		&_buttonx-console2
		&_buttonx-console3
			position: absolute
			bottom .5rem
			right .5rem
			font-size 2rem
			cursor pointer
			transition 1s
			small
				font-size .8rem
				margin-right .1rem
			
		&_next 
			display flex
			justify-content: space-between
			color black
			margin-bottom 1rem
			a 
				display block
				text-decoration: underline !important
				color white	!important			
				background-color #0086b3
				padding 2px 4px
			&-right
				a 
					text-align: right
					margin-left auto
					background-color #0086b3
					padding 2px 4px


		hr 
			margin-top 0


			
#console-object
	height 300px !important
	
#disqus_thread
	margin-top 3rem	
	
[id^="my-e"]
	iframe
		height: 300px

// #my-element
// 	max-height 100%
// 	display: block !important
// 	iframe
// 		height 250px !important

// 	var persona = {
//     nombre : "Juan",
//     apellido : "Pérez"
// };

// // Llamamos al valor de la 
// // propiedad 'apellido' del Objeto persona:
// persona.apellido;
// // nota: No necesitamos de console.log en ésta herramienta(Tonic)

// // Definición - Uso - Ejemplos - Video tutorial --- http://pandawebs.net/objetos-javascript/

// Ejemplo simple de creación de un Objeto en Javascript.
// Objeto Javascript.
// 	