.Post	
	article 
		width: 90%
		margin 0 auto		
	&-top 
		width: 100%	
		display: flex 
		justify-content: space-between
		margin-bottom .1rem
		font-size: .8rem
		a 
			&:hover
				color #551a8b
	.post-content 
		position: relative
		a 
			text-decoration: underline
			
		p 
			em
				a
					text-decoration: none
					display block
					text-align: right
					// right .2rem
					// top .2rem
					color #cc0044
					// background-color #ffb3b3
					// padding-right .2rem
					&:hover
						text-decoration: underline
		&-button
			display block
			padding: .2rem
			color white
			background-color green
			// margin-bottom 1.5rem
			width 250px
			margin 0 auto
		&_button-console
			text-align center
			padding: .2rem
			color white
			background-color #003366
			width 100%
			&:hover
				background-color #00264d
				color #4da6ff
			
		&_console
			width: 100%			
			text-align: center
			display none
			// overflow: scroll		
			max-height: 400px
			border-bottom: 1px solid grey
			position: relative
			transition 1s						 
			&-mark 
				background #ffff99

		&_buttonx-console
			position: absolute
			bottom .5rem
			right .5rem
			font-size 2rem
			cursor pointer
			transition 1s
			small
				font-size .8rem
				margin-right .1rem
			
		&_next 
			display flex
			justify-content: space-between
			color black
			margin-bottom 1rem
			background-color #f2f2f2
			a 
				display block
				text-decoration: underline !important
			&-right
				a 
					text-align: right

		hr 
			margin-top 0

	
#disqus_thread
	margin-top 3rem	


// #my-element
// 	max-height 100%
// 	display: block !important
// 	iframe
// 		height 250px !important

// 	var persona = {
//     nombre : "Juan",
//     apellido : "Pérez"
// };

// // Llamamos al valor de la 
// // propiedad 'apellido' del Objeto persona:
// persona.apellido;
// // nota: No necesitamos de console.log en ésta herramienta(Tonic)

// // Definición - Uso - Ejemplos - Video tutorial --- http://pandawebs.net/objetos-javascript/

// Ejemplo simple de creación de un Objeto en Javascript.
// Objeto Javascript.
// 	