.Post
	article 
		width: 90%
		margin 0 auto
		
	&-top 
		width: 100%	
		display: flex 
		justify-content: space-between
		margin-bottom .1rem
		font-size: .8rem
		a 
			&:hover
				color #551a8b
	&-button
		padding: .2rem
		color white
		background-color green
		margin-bottom 1.5rem
	&-next 
		display flex
		justify-content: space-between
		background-color black
		color white
		padding .5rem
		margin-bottom 2rem
		a 
			display block
			color white
		&-right 
			text-align: right
	hr 
		margin-top 0	