{{!< default}}

<!-- Everything inside the #author tags pulls data from the author -->
{{#author}}


  <section class="author-profile">   
    <h1 class="author-title">{{name}}</h1>

  </section>
{{/author}}

<main class="List-main">

  {{> "loop"}}
  

</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}