{{!< default}}

{{#author}}
  <section class="List-author">   
    <span>{{name}} <em>posts:</em></span>
    <hr>
  </section>
{{/author}}

<main class="List-main">

  {{> "loop"}}
  

</main>

{{pagination}}