{{!< default}}

{{> header}}

<main class="main-index">

<main role="main">
  <!-- includes the post loop - partials/loop.hbs -->
  {{> "loop"}}
</main>

</main>
<!-- Previous/next page links - displayed on every page -->
{{pagination}}