{{!< default}}

{{> header}}

<main class="main-index">

  <!-- includes the post loop - partials/loop.hbs -->
  {{> "loop"}}

</main>
<!-- Previous/next page links - displayed on every page -->
{{pagination}}