<!-- Everything inside of #tag pulls data from the tag -->
{{!< default}}

{{#tag}}
  <section class="author-profile">   
    <h1>{{name}}</h1>
  </section>
{{/tag}}

<main class="List-main">

  {{> "loop"}}
  

</main>

<!-- Previous/next page links - displayed on every page -->
{{pagination}}