extends layout
block content
    div.container
        .row
            .col-md-5
                form.form(action='/contact', name='contact2', id='contact2', method='post', onsubmit="submit.disabled = true; return true;")
                    div.form-group
                        label(for='name') Name:
                        input.form-control(name='name', type='text', placeholder='Name', id='name' required autofocus)
                    div.form-group
                        label(for='email') Email:
                        input.form-control(name='email', type='email', placeholder='Email', id='email' required)
                    div.form-group
                        label(for='message') Message:
                        textarea.form-control(name='message', placeholder='Message' id='message' rows="10")
                    div.form-group
                        input.form-btn.btn-primary.btn-sm(name='submit', type='submit', value='Send', id='submit')
                    

                    if(typeof msg !== 'undefined')
                        if(!!err)
                            p.err.bg-warning #{msg}
                        else
                            p.msgbox.success.bg-success #{msg}